DB_URL=jdbc:mysql://localhost:3306/ai_travel_planner?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=replace_me
JWT_SECRET=replace_with_a_random_secret_of_at_least_32_characters
JWT_EXPIRY=60m
